/* En tu archivo home.css */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.text-container {
    width: 100%;
    padding: 60px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.main-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.25rem;
    color: #333;
    line-height: 1.6;
}

.video-container {
    width: 100%;
}

.video-container video {
    width: 100%;
    height: auto;
}

/* Estilos para la sección de Beneficios */
.benefits-container {
    width: 100%;
    padding: 60px 0;
    background-color: #f8f9fa;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit-item {
    text-align: center;
    padding: 20px;
}

.benefit-item i {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #f39c12;
}

/* Estilos para la sección del Equipo */
.team-container {
    width: 100%;
    padding: 60px 0;
    background-color: #ffffff;
}

.team-members {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-member {
    text-align: center;
    padding: 20px;
}

.team-member img {
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #333333;
}

.team-member p {
    font-size: 1rem;
    color: #666666;
}
